{% extends 'base.html' %}
{% load bootstrap5 %}
{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
           {{ post.user.first_name }} {{ post.user.last_name }}
        </div>
        <img src="{{ post.photo.url }} " 
        class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-text">{{ post.title }}</h5>
          </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6">
                    <p>Posted: {{ post.post_date }}</p>
                </div>
                <div class="col-md-6">
                    <a class="btn-primary btn-lg" href=" {{ post.url }} ">View</a>
                </div><br><br>
                <div>
                    <a class="btn-secondary btn-sm" href=" {% url 'home' %} ">Back</a>
                </div>
            </div>
          </div>
        </div>
    </div>
    <br>
    <hr>
    <h1>Rating</h1>
    <hr>
    <form action="">
        <select class="form-select" aria-label="Default select example">
            <option selected>Usability</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br>
          <select class="form-select" aria-label="Default select example">
            <option selected>Content</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br>
          <select class="form-select" aria-label="Default select example">
            <option selected>Design</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            
          </select>
          <br>
          <button class="btn-primary btn-sm" type="submit">Submit</button>
    </form>
    <br><br>
    
  
</div>
{% endblock %}
    
