{% extends 'base.html' %}
{% block content%}
    <h1>Projects</h1>
        {% for post in object_list %}
        <div class="container">
            <div class="card m-2" >
                <div class="card-header">
                   {{ post.user }}
                </div>
                <a href=" {% url 'article-detail' post.pk %}">
                <img src="{{ post.photo.url }} " 
                class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p class="card-text">{{ post.title }}</p>
                  </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Posted: {{ post.post_date }}</p>
                        </div>
                        <div class="col-md-6">
                            <a class="btn-danger btn-sm" href="">Delete</a>
                            <a class="btn-primary btn-sm m-2" href="">Edit</a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
